a {
    color: #ff5050;
}
a:hover {
    color: #ff3737;
}

a:hover {
    text-decoration: underline;
}

html, body {
    margin: 0px;
    padding: 8px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #121212;
}